.flex_container {
    display: flex;
    width: 95%;
    background-color: bisque;
    justify-content: space-around;
}

.flex_item {
    height: fit-content;
    width: max-content;
    background-color: cadetblue;
    font-size: large;
    color: darkblue;
    padding: 2em;
    
}